.card{
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #bcbcad;
  height: 330px;
  width: 250px;
}

.card-title{
  margin: 5px 0 5px 0;
  color: #181512;
}

.card img{
  width: 230px;
  border-radius: 8px;
}

.card-info{
  margin: 14px 0 14px 0;
  display: flex;
  flex-direction: column;
  color: #181512;
  line-height: 1.5em;
}

.card-info-sector,
.card-info-id{
  font-weight: bold;
}

.card-sensors{
  margin: 0 0 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex:1;
}

.card-sensors span{
  height: 1.2em;
  line-height: 1.2em;
  margin: 3px 5px 3px 5px;
  background-color: red;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
}